@model IEnumerable<primerApiFront.Models.Departamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Departamentos</h1>

<p>
    <a asp-action="Create" class="btn btn-success" >Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idDepartamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idDepartamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.idDepartamento }) |
                    @Html.ActionLink("Details", "Details", new { /*=item.idDepartamento*/  }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.idDepartamento })
            </td>
        </tr>
}
    </tbody>
</table>
